

  <h1>{{ title }}</h1>
  
  
  <!-- Autocomletado -->
  
  
      <h6>Google Maps Places Autocomplete</h6>
      
      <!-- this creates a google map on the page with the given lat/lng from -->
      <!-- the component as the initial center of the map: -->
      <form>
        <div>
          <input type="search" id="miBusqueda" name="q">
          <button>Buscar</button>
        </div>
      </form>
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick) = "onChoseLocation($event)" >
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      



  

       


  
  


 