<div class="container">
   <div class="row">
     <div class="col-lg-3 col-md-offset-4">
      <button  (click)="login()"> Login Gmail</button>
      
      <button  (click)="loginFace()"> Login Facebook</button>
     </div>

     

   </div>
</div>



<!-- 
<ul>
  <li class="text" *ngFor="let item of items | async">
    {{item.name}}
  </li>
</ul> -->


