<!--The content below is only a placeholder and can be replaced.-->

<app-navbar></app-navbar>


<app-login></app-login>


<app-conteiner1></app-conteiner1>

<app-googlemaps></app-googlemaps>




<button [swal]="['Oops!', 'This is not implemented yet :/', 'warning']">
    Do it!
  </button>
  





  <app-maps></app-maps>